/* Front-end Styles */
#quick-top {
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: normal;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    position: fixed;
}

#quick-top.show {
    opacity: 1;
    transform: translateY(0);
}

#quick-top i {
    font-size: inherit;
}